body{
    margin: 0;
    background-color: #fdfaf4;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #f1eada;
    background-color: #442d1c;
}

.header a.active{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    background-color: #f1eada;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    overflow: hidden;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #442d1c;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}

.header .icon{
    display: none;
}

.chair{
    height: 6.5rem;
    width: 100%;
}

.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.description{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10rem;
    background-color: #f1eada;
    height: fit-content;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 0;
    padding-right: 16rem;
    padding-top: 2rem;
    padding-bottom: 18rem;
    position: relative;
    border-top-right-radius: 10px;
}

.description p{
    width: 10rem;
    text-align: center;
    position: absolute;
    padding-left: 7rem;
    padding-top: 6rem;
    font-size: larger;
    color: #442d1c;
}

.coverImage{
    height: 20rem;
    width: auto;
    position: absolute;
    padding-left: 21rem;
    padding-top: 4rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.reservation{
    color: #442d1c;
    position: absolute;
    font-size: larger;
    margin-left: 5rem;
    margin-top: 0.6rem;
    width: 110%;
    max-width: 22ch;
    text-align: center;
}

.res-bg{
    background-color: #cec1a8;
    margin-left: 6rem;
    margin-top: -5rem;
    width: 87%;
    height: 9vh;
    grid-area: 2 / 2 / 2 / 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.f1{
    grid-column: 1;
    grid-row: 2;
    width: 20rem;
    height: auto;
    margin-left: 3rem;
}

.f2{
    grid-column: 2;
    grid-row: 3;
    width: 21rem;
    height: auto;
    margin-left: -10rem;
}

.feedback{
    background-color: #f1eada;
    margin-left: 9rem;
    margin-top: 1.95rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    height: 15rem;
    width: fit-content;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.feedback p{
    grid-column: span 2;
    color: #442d1c;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.fa-brands{
    font-size: 50px !important;
    color: #442d1c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

.fa-instagram{
    margin-left: 75rem;
    margin-top: 22.5rem;
}

.fa-tiktok{
    margin-left: 83rem;
    margin-top: 22.5rem;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    height: 10vh;
    width: 100%;
    margin-bottom: 0;
}

footer p{
    font-size: large;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  .header a:not(:first-child) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header.responsive {
    flex-direction: column;
    align-items: flex-start;
    background-color: #442d1c;
    z-index: 10;
    }
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    display: block;
    width: 100%;
    text-align: left;
    color: #ece1da;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.5rem;
  }

}