body{
    margin: 0;
    background-color: #fdfaf4;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #f1eada;
    background-color: #442d1c;
}

.header a.active{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    background-color: #f1eada;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    overflow: hidden;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #442d1c;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}

.header .icon{
    display: none;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    color: #442d1c;
}

.microneedling{
    grid-area: 1 / 1 / 1 / 1;
    max-width: 30ch;
    background-color: #f1eada;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-left: 4rem;
    padding-right: 4rem;

}

.bb-glow{
    grid-area: 1 / 2 / 1 / 2;
    max-width: 30ch;
    background-color: #f1eada;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.brow-lift{
    grid-area: 1 / 3 / 1 / 3;
    max-width: 30ch;
    background-color: #f1eada;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.prices{
    grid-column: span 3;
    margin-top: 4rem;
    color: #442d1c;
    display: flex;
    justify-content:center;
}

table, th, tr {
  border: 1px solid #442d1c;
}

th, tr{
    padding: 10px;
}


table {
  border-collapse: collapse;
  width: 25%;
}

.table-header{
    background-color: #f1eada;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    height: 10vh;
    width: 100%;
    margin-bottom: 0;
}

footer p{
    font-size: large;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1.5rem;
}