@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    background-color: #fdfaf4;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #442d1c;
    opacity: 0.8;
}

.header a.active{
    font-weight: 600;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1%;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #fffcf6;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.header .icon{
    display: none;
}

.topPart{
    background-image: url("../images/top.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:180px;
    max-width: 100vw;
}

p, h2, li, th{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.microneedling{
    display: flex;
    margin-left: 5%;
    color: #593c28;
}

.microneedling img{
    height: 130px;
}

.microneedling h2{
    margin-left: 2%;
    align-self: center;
    font-size:30px;
}

.microneedling-text{
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-bottom: 2%;
}

.microneedling-text p, .improv-m li{
    color: #5d3e29;
    font-size: 18px;
    line-height: 1.3;
    max-width: 55ch;
}

.desc-m{
    margin-left: 11%;
}

.improv-m li, .improv-m p{
    margin-left: 10%;
}

.bb-glow{
    display: flex;
    margin-left: 5%;
    color: #593c28;
}

.bb-glow img{
    height: 130px;
}

.bb-glow h2{
    margin-left: 2%;
    align-self: center;
    font-size:30px;
}

.bb-glow-text{
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-bottom: 2%;
}

.bb-glow-text p, .improv-bb li{
    color: #5d3e29;
    font-size: 18px;
    line-height: 1.3;
    max-width: 55ch;
}

.desc-bb{
    margin-left: 11%;
}

.improv-bb li, .improv-bb p{
    margin-left: 10%;
}

.brow{
    display: flex;
    margin-left: 5%;
    color: #593c28;
}

.brow img{
    height: 130px;
}

.brow h2{
    margin-left: 2%;
    align-self: center;
    font-size:30px;
}

.bl-text{
    display: flex;
}

.bl-text p, .improv-bl li{
    color: #5d3e29;
    font-size: 18px;
    line-height: 1.3;
    max-width: 55ch;
}

.desc-bl{
    margin-left: 16%;
}

.improv-bl{
    margin-left: 4%;
}
.prices{
    grid-column: span 3;
    margin-top: 4rem;
    color: #442d1c;
    display: flex;
    justify-content:center;
}

table, th, tr {
  border: 1px solid #442d1c;
}

th, tr{
    padding: 10px;
}


table {
  border-collapse: collapse;
  width: 25%;
}

.table-header{
    background-color: #f1eada;
}

.fa-brands{
    color: #f1eada;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 4%;
}

.fnav a{
    text-align: center;
    padding: 14px 16px;
    color: #f1eada;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.fnav .active{
    font-weight: 600;
}

.fnav a:hover{
    opacity: 0.7;
}

.fnav{
    margin-top: 4%;
}

.logof{
    height: 50px;
    width: 50px;
    padding-top: 1%;
}

.fa-instagram{
    margin-left: -4%;
    margin-top: 0.5%;
    font-size: 40px !important;
}

.fa-tiktok{
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 35px !important;
}

footer p{
    font-size: large;
    text-align: center;
}
