@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    background-color: #fdfaf4;
    overflow-x: hidden;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    opacity: 0.4;
}

.header a.active{
    font-weight: 600;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #fffcf6;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.header .icon{
    display: none;
}

.topPart{
    background-image: url("../images/top.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:180px;
    max-width: 100vw;
}

h2{
    font-family: "Work Sans", sans-serif;
    color: #564537;
    font-size: 36px;
}

.space{
    margin-top: 2%;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.space img{
    width: 100%;
    object-fit: contain;
}

.space h2{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    height: 50px;
}

.s1{
    grid-row: span 2;
    grid-area: 1/1/2/1;
    height: 450px;
    margin-left: 20%;
}

.s2{
    grid-row: span 2;
    grid-area: 1/3/2/3;
    height: 450px;
    margin-left: -5%;
}

.c{
   grid-area: 2/2/2/2;
   margin-top: -80%;
   height: 400px;
   margin-left: 7%;
}

.products{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 5%;
    width: 90vw;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.products img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.products1{
    height: 300px;
    grid-column: span 2;
    margin-left: 12%;
}

.needles1{
    margin-left: 6%;
}

.serums{
    margin-left: -5%;
}

.needles2{
    margin-left: -20%;
}

.pen{
    margin-left: 5%;
}

.prep{
    margin-left: -55%;
}

.products h2{
    margin-left: -40%;
    
}
.products2{
    grid-column: span 2;
    margin-left: -20%;
}

.customers{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5%;
    row-gap: 15px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.customers img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.facial{
    margin-left: -2%;
    grid-column: span 2;
}

.baa{
    margin-left: -4%;
}
.customers h2{
    margin-left: 25%;
}


.treatment{
    margin-left: -12%;
}

.mn{
    margin-left: -15%;
}

.skincare{
    width: 200% !important;
    margin-left: -11%;
}



.fa-brands{
    color: #f1eada;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 4%;
}

.fnav a{
    text-align: center;
    padding: 14px 16px;
    color: #f1eada;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.fnav .active{
    font-weight: 600;
}

.fnav a:hover{
    opacity: 0.7;
}

.fnav{
    margin-top: 4%;
}

.logof{
    height: 50px;
    width: 50px;
    padding-top: 1%;
}

.fa-instagram{
    margin-left: -4%;
    margin-top: 0.5%;
    font-size: 40px !important;
}

.fa-tiktok{
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 35px !important;
}

footer p{
    font-size: large;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .header{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
  }


  .space{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .space img{
    margin: 0;
    margin-left: 5%;
    height: 350px;
  }

  .space h2{
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .products{
    display: flex;
    flex-wrap: wrap;
  }

  .products img{
    margin: 0;
    padding: 0;
    height: 250px;
  }

  .products h2{
    order: -1;
    margin-left: 30%;
  }

  .customers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .customers img{
    margin: 0;
    padding: 0;
    height: 350px;
  }

  .customers h2{
    order: -1;
    margin: 0;
  }


  .logof{
    height: 30px;
    width: 30px;
    padding-top: 1%;
  }

  .fa-instagram{
    margin-top: 1%;
    margin-left: -7%;
    font-size: 20px !important;
  }

    .fa-tiktok{
    margin-top: 1%;
    margin-left: 3%;
    font-size: 20px !important;
    }

    .socials{
        padding: 2%;
        padding-bottom: 5%;
    }
}
