@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    background-color: #fdfaf4;
    overflow-x: hidden;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #442d1c;
    opacity: 0.8;
}

.header a.active{
    font-weight: 600;
    text-decoration-thickness: 1.5px;
}

.header{
    background-color: #b6a89c;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 4rem;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1%;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #fffcf6;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.header .icon{
    display: none;
}

h2{
    font-family: "Work Sans", sans-serif;
    color: #564537;
    font-size: 36px;
}
.space{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.space h2{
    display: flex;
    justify-content: center;
    margin: 0;
}

.s1{
    height: 400px;
    grid-row: span 2;
    
}

.s2{
    height: 400px;
    grid-row: span 2;
    
}

.c{
    height: 350px;
}

.products{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5%;
    gap: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.products1{
    height: 300px;
    width: 520px;
    grid-column: span 2;
}

.needles1{
    height: 300px;
    width: 170px;
    margin-left: 45%;
}

.serums{
    height: 300px;
    width: 170px;
    margin-left: 46%;
}

.needles2{
    height: 300px;
    width: 170px;
    margin-left: 47%;
}

.pen{
    height: 300px;
    grid-row: span 2;
}

.prep{
    height: 300px;
    margin-left: -58%;
    grid-row: span 2;
}

.products h2{
    margin-left: -45%;
    margin-top: 70%;
    
}
.products2{
    height: 300px;
    width: 500px;
    grid-column: span 2;
    margin-left: -20%;
}

.customers{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5%;
    gap: 15px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.glow{
    height: 350px;
    grid-row: span 2;
}

.facial{
    height: 300px;
    width: 409px;
    grid-column: span 2;
}

.face{
    height: 300px;
    margin-left: 5%;
}

.baa{
    height: 300px;
    width: 220px;
    object-fit: cover;
    grid-row: span 2;
    margin-left: -104%;
}

.treatment{
    height: 300px;
}

.mn{
    height: 300px;
    margin-left: 1.5%;
}

.skincare{
    height: 300px;
    margin-left: 1.5%;
}

.customers h2{
    margin-top: -110%;
    margin-left: 10%;
}

.fa-brands{
    color: #f1eada;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 4%;
}

.fnav a{
    text-align: center;
    padding: 14px 16px;
    color: #f1eada;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.fnav .active{
    font-weight: 600;
}

.fnav a:hover{
    opacity: 0.7;
}

.fnav{
    margin-top: 4%;
}

.logof{
    height: 50px;
    width: 50px;
    padding-top: 1%;
}

.fa-instagram{
    margin-left: -4%;
    margin-top: 0.5%;
    font-size: 40px !important;
}

.fa-tiktok{
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 35px !important;
}

footer p{
    font-size: large;
    text-align: center;
}
