@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    background-color: #fdfaf4;
    overflow-x: hidden;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #442d1c;
    opacity: 0.8;
}

.header a.active{
    font-weight: 600;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1%;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #fffcf6;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.header .icon{
    display: none;
}

.topPart{
    background-image: url("../images/top.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:180px;
    max-width: 100vw;
}

p, li{
    color: #442d1c;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.about{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    font-size: large;
    max-height: fit-content;
    padding-left: 7%;
    line-height: 1.2;
}

.pabout{
    max-width: 60ch;
    margin-top: 5%;
}

.about img{
    height: 550px;
    margin-top: -15%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.q1{
    background-color: #8a7764;
    margin-top: 3%;
    padding: 2%;
    padding-bottom: 3%;
    text-align: center;
    font-size: large;
    list-style-position: inside;
    line-height: 1.5;
}

.q1-container{
    display: flex;
    justify-content:space-evenly;
}

.q1-container p{
    padding: 1.5%;
    opacity: 0.7;
    font-weight: 500;
    background-color: #f1eada;
    max-width: 30ch;
    align-self: center;
}

.q1-container p:first-child{
    padding: 2.5%;
}

.q1 .title, .q3 p, .q3 li{
    color: #f1eada;
}

.q1 .title, .q2 p, .q3 p{
    font-size: larger;
    font-weight: 600;
}

.q2 {
    background-color: #f1eada;
    margin-top: 3%;
    padding: 2%;
    text-align: center;
    font-size: large;
    list-style-position: inside;
    line-height: 1.5;
}

.q2-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
}

.q2-container p{
    padding:4%;
    background-color: #62503e;
    color: #fdfaf4;
    opacity: 0.7;
    font-weight: 500;
    font-size: large;
    max-width: 80%;
}

.q3{
    background-color: #8a7764;
    margin-top: 3%;
    padding: 2%;
    padding-bottom: 3%;
    text-align: center;
    font-size: large;
    list-style-position: inside;
    line-height: 1.5;
}

.q3-container{
    display: flex;
    justify-content:space-evenly;
}

.q3-container p{
    color: #442d1c;
    padding: 1.5%;
    opacity: 0.7;
    font-weight: 450;
    background-color: #f1eada;
    max-width: 30ch;
    align-self: center;
    font-size: large;
}

form{
    background-color: #f1eada;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    max-width: fit-content;
    max-height: 8.5rem;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1.5%;
    border-radius: 10px;
    font-size: large;
    color: #442d1c;
    line-height: 1.4;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.submit{
    max-height: 25px;
    max-width: 80px;
    color: #442d1c;
    background-color: #fdfaf4;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
}

.name{
    max-height: fit-content;

}

.review{
    max-height: fit-content;
    padding-left: 3rem;
}

.fa-brands{
    color: #f1eada;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 4%;
}

footer p{
    color: #f1eada;
}

.fnav a{
    text-align: center;
    padding: 14px 16px;
    color: #f1eada;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.fnav .active{
    font-weight: 600;
}

.fnav a:hover{
    opacity: 0.7;
}

.fnav{
    margin-top: 4%;
}

.logof{
    height: 50px;
    width: 50px;
    padding-top: 1%;
}

.fa-instagram{
    margin-left: -4%;
    margin-top: 0.5%;
    font-size: 40px !important;
}

.fa-tiktok{
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 35px !important;
}

footer p{
    font-size: large;
    text-align: center;
}
