@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    background-color: #fdfaf4;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #f1eada;
    background-color: #442d1c;
}

.header a.active{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    background-color: #f1eada;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    overflow: hidden;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #442d1c;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.header .icon{
    display: none;
}

p, li{
    color: #442d1c;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.about{
    display: grid;
    grid-template-rows: auto auto;
}

.about{
    display: flex;
    justify-content: flex-end;
    font-size: large;
    max-height: fit-content;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: 4rem;
    max-width: 80ch;
    line-height: 1.2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form{
    background-color: #f1eada;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    max-width: fit-content;
    max-height: 8.5rem;
    margin-left: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 6rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: large;
    color: #442d1c;
    line-height: 1.4;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.submit{
    max-height: 25px;
    max-width: 80px;
    color: #442d1c;
    background-color: #fdfaf4;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.name{
    max-height: fit-content;

}

.review{
    max-height: fit-content;
    padding-left: 3rem;
}

.info{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 1.5rem;
    padding-left: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 1.2;
}

.q1, .q2, .q3{
    background-color: #dcd2bf;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-height: fit-content;
    padding-bottom: 0.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.q2{
    margin-top: 0.4rem;
    padding-bottom: 1rem;
}

.q3{
    
}


ul, .ul{
    padding-left: 3rem;
    padding-top: 0.5rem;
    font-size: large;
}

.line{
    padding-left: 1rem;
}


footer{
    background-color: #442d1c;
    color: #f1eada;
    height: 10vh;
    width: 100%;
    margin-bottom: 0;
}

footer p{
    color: #f1eada;
    font-size: large;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1.5rem;
}