@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    background-color: #fdfaf4;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #f1eada;
    background-color: #442d1c;
}

.header a.active{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    background-color: #f1eada;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    overflow: hidden;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #442d1c;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.header .icon{
    display: none;
}

.chair{
    height: 6.5rem;
    width: 100%;
}

.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 100%;
}

.description{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    background-color: #f1eada;
    height: 100%;
    max-height: 240px;
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 0;
    padding: 2rem;
    padding-bottom: 4rem;
    position: relative;
    border-top-right-radius: 10px;
}

.description p{
    width: 10rem;
    text-align: center;
    position: absolute;
    margin-left: 5rem;
    margin-top: 6rem;
    font-size: larger;
    color: #442d1c;
}

.coverImage{
    height: 100%;
    width: auto;
    position: absolute;
    margin-left: 18rem;
    margin-top: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.reservation{
    color: #442d1c;
    position: absolute;
    font-size: larger;
    margin-left: 5rem;
    margin-top: 0.6rem;
    width: 100%;
    max-width: 22ch;
    text-align: center;
}

.res-bg{
    background-color: #cec1a8;
    grid-area: 2/2/2/2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    height: 9vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

p, h3{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.feedback{
    margin-top: 4rem;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    height: 15rem;
}


.feedback p{
    color: #442d1c;
    font-size: 18px;
    margin: 0;
    padding-left: 2rem;
    max-width: 24ch;
}

.feedback h3{
    color: #372314;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    grid-column: span 2;
}

.f1, .f2, .f3{
    background-color: #ede2ce;
    padding: 0.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.f3{
    grid-row: span 2;
}

.fa-brands{
    font-size: 50px !important;
    color: #442d1c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    height: 10.5vh;
    width: 100%;
    margin-top: 3rem;
}

footer p{
    font-size: large;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  .header a:not(:first-child) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header.responsive {
    flex-direction: column;
    align-items: flex-start;
    background-color: #442d1c;
    z-index: 10;
    }
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    display: block;
    width: 100%;
    text-align: left;
    color: #ece1da;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.5rem;
  }

}