@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    background-color: #fdfaf4;
    overflow-x: hidden;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    opacity: 0.4;
}

.header a.active{
    font-weight: 600;
    text-decoration-thickness: 1.5px;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1%;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #fffcf6;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.header .icon{
    display: none;
}

.topPart{
    background-image: url("../images/top.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:180px;
    max-width: 100vw;
}

p, li{
    color: #442d1c;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.about{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    font-size: large;
    max-height: fit-content;
    padding-left: 7%;
    line-height: 1.2;
}

.pabout{
    max-width: 60ch;
    margin-top: 5%;
}

.about img{
    height: 550px;
    margin-top: -15%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.q1{
    background-color: #644e41;
    margin-top: 3%;
    padding: 2%;
    padding-bottom: 3%;
    text-align: center;
    font-size: large;
    list-style-position: inside;
    line-height: 1.5;
}

.q1-container{
    display: flex;
    justify-content:space-evenly;
}

.q1-container p{
    padding: 1.5%;
    opacity: 0.7;
    font-weight: 500;
    background-color: #fff9ea;
    max-width: 30ch;
    align-self: center;
    border-radius: 30px;
}

.q1-container p:first-child{
    padding: 2.5%;
}

.q1 .title, .q3 p, .q3 li{
    color: #f1eada;
}

.q1 .title, .q2 p, .q3 p{
    font-size: larger;
    font-weight: 600;
}

.q2 {
    background-color: #f1eada;
    margin-top: 3%;
    padding: 2%;
    text-align: center;
    font-size: large;
    list-style-position: inside;
    line-height: 1.5;
}

.q2-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
}

.q2-container p{
    padding:4%;
    background-color: #644e41;
    color: #fdfaf4;
    font-weight: 500;
    font-size: large;
    max-width: 80%;
    border-radius: 30px;
}

.q3{
    background-color: #644e41;
    margin-top: 3%;
    padding: 2%;
    padding-bottom: 3%;
    text-align: center;
    font-size: large;
    list-style-position: inside;
    line-height: 1.5;
}

.q3-container{
    display: flex;
    justify-content:space-evenly;
}

.q3-container p{
    color: #442d1c;
    padding: 1.5%;
    opacity: 0.7;
    font-weight: 450;
    background-color: #fff9ea;
    max-width: 30ch;
    align-self: center;
    font-size: large;
    border-radius: 30px;
}

form{
    background-color: #f1eada;
    max-width: 50%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1.5%;
    border-radius: 20px;
    color: #442d1c;
    font-size: 35px;
}

.submit{
    color: #f1eada;
    background-color: #705a4b;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    grid-column: span 2;
    margin-left: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: 0;
    border-radius: 10px;
}

.submit:hover{
    opacity: 0.7;
}

input, #review{
    font-size: 15px;
    width: 50%;
    padding: 1%;
    margin: 1% 0;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(170, 152, 138, 0.714);
    margin-left: 25%;
    font-family: "Work Sans", sans-serif;
}

form .inputBox input {
  width: 50%;
}

textarea{
    resize: none;
}

.fa-brands{
    color: #f1eada;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 4%;
}

footer p{
    color: #f1eada;
}

.fnav a{
    text-align: center;
    padding: 14px 16px;
    color: #f1eada;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.fnav .active{
    font-weight: 600;
}

.fnav a:hover{
    opacity: 0.7;
}

.fnav{
    margin-top: 4%;
}

.logof{
    height: 50px;
    width: 50px;
    padding-top: 1%;
}

.fa-instagram{
    margin-left: -4%;
    margin-top: 0.5%;
    font-size: 40px !important;
}

.fa-tiktok{
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 35px !important;
}

footer p{
    font-size: large;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .header{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
  }

  .about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about img{
    height: 300px;
    margin-top: 0;
  }

  .pabout{
    max-width: 35ch;
  }

  .q1-container, .q3-container{
    flex-wrap: wrap;
  }

  .q1-container p,.q1-container p:first-child, .q2-container p, .q3-container p{
    font-size: medium;
    padding: 7%;
  }

  form{
    max-width: 100%;
    padding: 0;
  }

  .submit{
    margin-left: 40%;
    margin-bottom: 3%;
  }

  .logof{
    height: 30px;
    width: 30px;
    padding-top: 1%;
  }

  .fa-instagram{
    margin-top: 1%;
    margin-left: -7%;
    font-size: 20px !important;
  }

    .fa-tiktok{
    margin-top: 1%;
    margin-left: 3%;
    font-size: 20px !important;
    }

    .socials{
        padding: 2%;
        padding-bottom: 5%;
    }
}
