body{
    margin: 0;
    background-color: #fdfaf4;
}

.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #442d1c;
    opacity: 0.8;
}

.header a.active{
    font-weight: 600;
    text-decoration-thickness: 1.5px;
}

.header{
    background-color: #b6a89c;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 4rem;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1%;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #f1eada;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}


.header .icon{
    display: none;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    color: #442d1c;
}

.microneedling{
    grid-area: 1 / 1 / 1 / 1;
    max-width: 30ch;
    background-color: #f1eada;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-left: 4rem;
    padding-right: 4rem;

}

.bb-glow{
    grid-area: 1 / 2 / 1 / 2;
    max-width: 30ch;
    background-color: #f1eada;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.brow-lift{
    grid-area: 1 / 3 / 1 / 3;
    max-width: 30ch;
    background-color: #f1eada;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.prices{
    grid-column: span 3;
    margin-top: 4rem;
    color: #442d1c;
    display: flex;
    justify-content:center;
}

table, th, tr {
  border: 1px solid #442d1c;
}

th, tr{
    padding: 10px;
}


table {
  border-collapse: collapse;
  width: 25%;
}

.table-header{
    background-color: #f1eada;
}

.fa-brands{
    color: #f1eada;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.fa-brands:hover{
    opacity: 0.7;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 4%;
}

.fnav a{
    text-align: center;
    padding: 14px 16px;
    color: #f1eada;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
}

.fnav .active{
    font-weight: 600;
}

.fnav a:hover{
    opacity: 0.7;
}

.fnav{
    margin-top: 4%;
}

.logof{
    height: 50px;
    width: 50px;
    padding-top: 1%;
}

.fa-instagram{
    margin-left: -4%;
    margin-top: 0.5%;
    font-size: 40px !important;
}

.fa-tiktok{
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 35px !important;
}

footer p{
    font-size: large;
    text-align: center;
}
