.logo{
    height: 50px;
    width: 50px;
} 

.header a:hover{
    color: #f1eada;
    background-color: #442d1c;
}

.header{
    display: flex;
    background-color: #f1eada;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    overflow: hidden;
    width: 100%;
}

.header a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #442d1c;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}

.header .icon{
    display: none;
}

.chair{
    height: 6.5rem;
    width: 100%;
}

.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1px;
}

.description{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10rem;
    background-color: #f1eada;
    height: fit-content;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 0;
    padding-right: 16rem;
    padding-top: 2rem;
    padding-bottom: 18rem;
    position: relative;
}

.description p{
    width: 10rem;
    text-align: center;
    position: absolute;
    padding-left: 7rem;
    padding-top: 6rem;
    font-size: larger;
    color: #442d1c;
}

.coverImage{
    height: 18rem;
    width: auto;
    position: absolute;
    padding-left: 23rem;
    padding-top: 3.5rem;
}

.reservation{
    color: #442d1c;
    position: absolute;
    font-size: larger;
    padding-left: 8rem;
    margin-top: 10px;
    width: 110%;
    max-width: 24ch;
    text-align: center;
}

.res-bg{
    background-color: #cec1a8;
    margin-left: 11rem;
    margin-top: 6rem;
    width: 75%;
    height: 9vh;
}

.insta{
    position: absolute;
    margin-top: 11rem;
    margin-left: 68rem;
}

.insta-icon{
    height: 4rem;
}

.tiktok{
    position: absolute;
    margin-top: 11rem;
    margin-left: 73rem;
}

.tiktok-icon{
    height: 4rem;
}

footer{
    background-color: #442d1c;
    color: #f1eada;
    height: 10vh;
    width: 100%;
    bottom: 0;
}

footer p{
    text-align: center;
    padding-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  .header a:not(:first-child) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header.responsive {
    flex-direction: column;
    align-items: flex-start;
    background-color: #442d1c;
    z-index: 10;
    }
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    display: block;
    width: 100%;
    text-align: left;
    color: #ece1da;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.5rem;
  }
}